.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

@keyframes effect {
  from {transform: translateY(-200px);}
  to {transform: translateY(0px);}
}


.title {
  margin-top: 5rem;
}

.title h2 {
  font-weight: lighter;
  transition: letter-spacing .7s;
}
.title h2:hover {
  letter-spacing: 1px;
}

ul, .title {
  animation-name: effect;
  animation-duration: .7s;
  animation-iteration-count: 1;
}

ul {
  margin-top: 7rem;
  padding: 24px;
  display:flex;
  list-style: none;
  height: 17rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 20rem;
  background: blanchedalmond;
  border: 0;
  border-radius: 17px;
}


ul li {
  background: blanchedalmond;
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
  padding: 7px;
  border-radius: 7px;
  cursor: pointer;
  transition: transform .7s,background 0.5s;
}
ul li:hover{
  background: #313131;
  transform: translateX(10px);
}
ul li a small {
  color: #212121;
}
ul li a small:hover{
  color: whitesmoke;
  font-weight: bold;
}
ul li a {
  text-align: center;
  color: #212121;
  text-decoration: none;
  margin-left: 3rem;
  padding: 1rem;
}
ul li img {
  margin-left: 7px;
}



